@model List<Meeting> 
@{
    ViewBag.Title = "Events";
}

<div class="card">
    @*<div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>*@
    <!-- /.card-header -->
    <div class="card-body">
        <a id="linkNew" asp-controller="Events" asp-action="New" class="btn btn-secondary">
            <i class="fas fa-plus"></i>
            New
        </a>
        <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Place</th>
                    <th>Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td><img src="~/img/@item.PhotoPath" alt="@item.Title" width="100" /></td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Place</td>
                    <td>@item.MeetingTime</td>
                    <td>Edit | Delete</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

@section scripts {
    <script>
        $(function () {
            $("#dataTable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#dataTable_wrapper .col-md-6:eq(0)');

            $("#linkNew").prependTo("#dataTable_wrapper .dt-buttons");
        });
    </script>
} 